body {
  padding: 0px;
  margin: 0px;
  background-color: #dedede;
}

.post-container {
  border: 4px solid pink;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  padding: 10px;
}

.title {
  font-size: 18px;
  color: black;
  font-weight: 900;

}

.content{
  font-size: 14px;
}

.createdAt {
  font-size: 12px;
}

.App {
  text-align: center;
}
